ul.nav {
  padding-top: 5px;
  padding-bottom: 10px;
}
header {
  background-color: aliceblue;
}
.container-fluid {
  padding-top: 5px;
}
/* main form  */
.mainForm {
  background: #fdfdfd none repeat scroll 0 0;
  border: 1px solid #ede9e9;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px;
}

/* new post form area  */
.new-postbox {
  display: inline-block;
  width: 100%;
}

.new-postbox > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  width: 10.4%;
}
.new-postbox img {
  border-radius: 5px;
  float: left;
  height: 80px;
}

.newpost-input {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 85.5%;
  font-family: "Bellota-BoldItalic", sans-serif;
  font-size: 15px;
}

.newpost-input > form {
  display: inline-block;
  width: 100%;
}

/* the button css for the main form  */
.attachments {
  display: block;
  text-align: right;
}
.attachments > ul {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.attachments li {
  display: inline-block;
  margin-left: 5px;
}
/* post form css  */
.post_form {
  width: 100%;
}

.post_form textarea {
  width: 100%;
  height: 90px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 15px;
  padding: 5px;
}
input#post_button {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 16px 32px;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
}

/* emoji css  */
input[type="radio"] {
  display: none;
}
label:hover {
  background-color: aquamarine;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin: 0 2px 0 2px;
}
span {
  font-size: 30px;
}

/* footer css  */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
